@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to App-3</h1>
    
    
   @*<h3>Employee Managment System</h3>*@
   
    
   @* <h5>Demo using Azure PaaS services with Automated Gates</h5>*@
    
</div>
